:root {
    --main-color: #DD3333;
    --text-color: white;
   
}

@-webkit-keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        right: 100%;
    }
    to {
        right: 0%
    }
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
    color:white;
    overflow-x: hidden;
   
}

* {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    display: block;
    color:white;
    font-size: 13px;
}
p{
    padding:0;
    margin:0;
    font-weight: 200;
    font-size: 14px;
}

 i {
     color: white;
     font-size:13px;
 }
 ul{
     margin: 0;
     padding: 0;
 }

