.contact-section {
    display: flex;
    width: 100%;
    margin: 0 auto;
    color: #000;
    padding: 65px 75px;
    border: 1px solid black;
    height: 700px;
    justify-content: space-around;
}

.contact-section-left iframe {
    height: 600px;
}

.contact-section-right {
    text-align: justify;
}


.contact-section-right .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info .logo img {
    width: 250px;
}

.contact-detail {
    margin-left: 20px;
}

.detail-box {
    display: flex;
}

.detail-box .box-icon svg {
    width: 20px;
    height: 20px;
}

.detail-box .detail-box-content {
    margin-left: 10px;
}

.detail-box-content p {
    font-size: 16px;
    line-height: 1.6em;
}

.lien-he-form {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

.lien-he-form h2 {
    font-size: 3em;
}

.two-cols {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.two-cols .form-row input{
    width: 200px;
}

