/* Mobile nav */

.nav-mobile{
    display: flex;
    padding-top:10px;
    
}
.nav-mobile i {
    padding : 10px 30px;
   font-size:28px;
}
.nav-overlay{
    position:fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgba(0,0,0,0.5);
    display:none;
    animation : fadeIn linear 0.2s;

}
input[type="checkbox"]:checked ~ .nav-overlay{
  display:block;

  }
  input[type="checkbox"]:checked ~ .category-mobile{
    transform: translateX(0);

    }
.category-mobile{
    background-color:#F2F2F2;
    position:fixed;
    top:0;
  
    bottom: 0;
    left: 0px;
    z-index: 100000000;
    transform: translateX(-100%);
    transition: feaIn linear 0.3s;
}
    @keyframes feaIn {
        from{
            opacity: 0;
        }
        to{opacity:1;}
    }
.category-mobile label i{
   color:#333;
    right:8px;
    top:2px;
    font-size: 24px;
    position: absolute;
}
.category-mobile a{
    color: #333;
    padding:20px 16px;
    z-index: 1000000;
   
}


/* Mobile & Tablet */

@media (max-width:1024px) {


}


/* Tablet */

@media(min-width:740px) and (max-width:1024px) {
    
    .header-mobile{
        display: none;
    }
    .header-mobile{
        display: none;
    }
    .row-header{
        justify-content:space-around;
        
        
    }
    .container-header__left{
      transform:translateX(80px);
    
      
    
    }
    .header-list__item{
        padding: 0 4px;
    }
   .container-header__right{
        transform:translateX(-70px);
   }
   .footer__list__item-connect>p{
       font-size:16px;
   }
}


/* Mobile */

@media (max-width:740px) {
    .header{
        display: none;
    }
    .container-header{
        display: none;
    }
   .container-title p{
       font-size :20px;
   }
   .container-title h1{
    font-size :30px;
}
.container-title{
    padding:0 20px;
}
.server-list__item h1 {
    font-size: 18px;
}
.title_item h1 {
    font-size:20px;
}
.container-product__item a img{
    width: 180px;
    height:180px;
  }
  .nav-mobile{
      padding:12px 18px;
  }

.product__item-detail-second{
    display: flex;
    flex-direction: column;
    font-size:20px;
}
.price-product{
    display: block;
    margin-left :60px;
}
.product-discount-btn{
    transform: translateX(30px);
}
.product__item-detail-second h1{
    transform: translateX(48px);
}
.footer__list__item p{
    font-size:10px;
}
.footer__title img{
    display: none;
}
.footer {
    padding: 0 20px;
}
.footer__list__item input{
    padding: 8px 8px;
    font-size:10px;
}
.footer__clo {
    padding:20px 0;
}
}
/* Pc */
@media (min-width:1025px){
    .header-mobile{
        display: none;
    }

}